@using ShiftType.Models;
@using ShiftType.Services;
@model Profile;

<div class="badgeSelectionContainer" name="BadgeId">

    <div class="badgeSelectionItem selected" value="-1">
        <div class="badge">
            <i class="fas fa-frown-open"></i>
            <div class="text">none</div>
        </div>
    </div>

    @if (ResultProviderService.AverageBy(Model.Results, x => x.Wpm) >= 100)
    {
        <div class="badgeSelectionItem" value="1">
            <div class="badge" style="background-color:#d10000;">
            <i class="fas fa-keyboard"></i>
            <div class="text">typeMaster</div>
        </div>
         </div>
    }
    @if (Model.LeaderBoard15S == 1 || Model.LeaderBoard60S == 1)
    {
        <div class="badgeSelectionItem" value="2">
            <div class="badge" style="color: white;animation: rgb-bg 10s linear infinite;">
                <i class="fas fa-trophy"></i>
                <div class="text">Champion</div>
            </div>
        </div>
    }
    @if (Model.CreatedQuotes.Count > 0)
    {
        <div class="badgeSelectionItem" value="3">
            <div class="badge" style="background-color: #0e38ad;">
                <i class="fas fa-book"></i>
                <div class="text">Author</div>
            </div>
        </div>
    }
    @if (Model.Level >= 10)
    {
        <div class="badgeSelectionItem" value="4">
            <div class="badge" style="background-color: #74a600;">
                <i class="fas fa-user"></i>
                <div class="text">Adept</div>
            </div>
        </div>
    }
    @if (Model.Level >= 100)
    {
        <div class="badgeSelectionItem" value="5">
            <div class="badge" style="background-color: #ad2409;">
                <i class="fas fa-medal"></i>
                <div class="text">Veteran</div>
            </div>
        </div>
    }
    @if (Model.Donates.Count > 0)
    {
        <div class="badgeSelectionItem" value="6">
            <div class="badge" style="background-color: #cdeb0e;">
                <i class="fas fa-circle-dollar-to-slot"></i>
                <div class="text">Donater</div>
            </div>
        </div>
    }
</div>
<script>
    function handleBadgeSelection(event) {
        var selectedBadge = event.target.closest('.badgeSelectionItem');
        if (selectedBadge) {
            var allBadges = document.querySelectorAll('.badgeSelectionItem');
            allBadges.forEach(function (badge) {
                badge.classList.remove('selected');
            });
            selectedBadge.classList.add('selected');
        }
    }

    // Attach click event listener to each badge item
    var badgeItems = document.querySelectorAll('.badgeSelectionItem');
    badgeItems.forEach(function (badge) {
        badge.addEventListener('click', handleBadgeSelection);
    });
</script>